---
layout: default
---
<br/>
<b>Fakultní sociologie je experimentální studijní skupina.<b/><br/>
<br/>
Naším cílem je zjednodušit studium, abychom měli čas na vlastní sociologické práce a účastnit se rozmanitých studentských projektů.<br/>
<br/>
Chceme rozvíjet různé formy spolupráce, která podle nás v sociologii chybí.<br/>
<br/>
Spolupráci mezi studenty a napříč obory a mimo univerzitu.<br/>
<br/>
Jak to funguje?
<br/>
<img src="http://fakultnisociologie.cz/assets/1.png">
<br/>
<br/>
<div style="text-align:center">Děkujeme našim sponzorům</div>
<br/>
<br/>
<a href=https://www.leda.cz><img src="http://fakultnisociologie.cz/assets/leda.gif"></a>

