---
layout: default
---

<div class="home">

 
Fakultní sociologie, z. s. je vznikající nezisková organizace, která zprostředkovává studentské-sociologické výzkumy a podporuje studenty sociologie.<br/>
<br/>
Účast na výzkumech má pomoci prohlubovat teoretické a praktické dovednosti studentů sociologie a zároveň pomoci jim odpovědět na tři základní otázky: 1. Co je sociologie?, 2. K čemu je sociologie dobrá?, 3. Co budu se sociologií dělat?. Záměrem je takto podporovat rozvoj české sociologie a tématizovat problémy studiem sociologie a příbuzných humanitních oborů v kontextu masové univerzity.<br/>
<br/>
Předmětem výzkumů jsou okolnosti studium sociologie a kolektivní řešení vytváří vztahy a možnosti, které masové studium neumožňuje.
 
 

 
</div>
