---
layout: default
---

Fakultní sociologie, z. s. je vznikající nezisková organizace, jejímž cílem je zprostředkovávat studentské-sociologické výzkumy a pomáhat studentům sociologie a příbuzných oborů.<br/>
<br/>
Účast na výzkumech prohlubuje teoretické a praktické dovednosti studentů. Výsledné poznání pomáhá tématizovat a následně řešit problémy vyplývající ze studia sociologie v kontextu masové univerzity a současné české společnosti.<br/>
<br/>
Naším cílem je:<br/>

      1. snížovat zátěž studia a zvyšovat porozumění sociologii;<br/>
      2. zvýšovat úplatnění prostřednictvím rozvoje sociologických dovedností;<br/>
      3. snížit nejistotu a zprostředkovat studentům možnosti sociologického vzdělání.<br/>

Věříme, že sociologické vzdělání - jako i jiné společenskovědní, či humanitní - jsou klíčové pro osobní rozvoj, tak pro rozvoj české i světové společnosti. Současný vzdělávací systém neumožňuje jejich plný rozvoj, stejně jako nejsou plně jasné jejich současné možnosti.

<img src="http://fakultnisociologie.cz/assets/bluepaper2-1.png">
